body {
  margin: 0;
  padding: 0;
}

body:before {
  content: '';
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url("../../../assets/img/info.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-filter: blur(3 px);
  -moz-filter: blur(3px);
  z-index: -1;
}

.left {
  z-index: -1;
  position: absolute;
  top: 200px;
  left: 15%;
  background-color: #d6e2f3c4;
  width: 910px;
  height: 300px;
  padding: 50px;
  p{
    font-size: 24px;
    text-align: justify;
  }
}
