<body>
  <app-header></app-header>
  <div *ngFor="let item of respuesta_gestion">
    <h1>{{item.tituloCongreso}}</h1>
    <div class="content">
      <!-- <img src="../../../assets/img/logo-yavirac.png" alt=""> -->
      <div *ngFor="let item of respuesta_imagenes">
        <img src="data:image/jpg;base64,{{item.nombre}}" width="100px" height="100px">
      </div>
    </div>
    <div class="links">
      <p><a href="#">{{item.direccionCorreo}}</a></p>
      <p><a href="#">{{item.paginaWeb}}</a></p>
    </div>
  </div>
</body>