body {
  margin: 0;
  padding: 0;
}

body:before {
  content: '';
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url("../../../assets/img/profes.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-filter: blur(1px);
  -moz-filter: blur(10px);
  z-index: -1;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz--box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  text-align: center;
  color: #fff;
  font-weight: 700;
  padding: 50px 300px;
  font-size: 50px;
  text-shadow: -4px 3px 0 #000;
}

.align {
  float: left;
  align-content: center;
  padding: 0 100px;

  .logo {
    width: 95%;
    max-width: 1000px;
    margin: auto;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;

    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
  }
}


.container {
  width: 100%;
  max-width: 1158px;
  margin: auto;
  padding: 10px 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 30px;

  .tabla {
    background-color: #34c2d4b2;
    width: 494px;
    color: #fff;
    text-align: center;
    border-radius: 10px;

    .titulo {
      padding: 15px 0;

      h2 {
        font-size: 24px;
        text-transform: uppercase;
      }
    }

    .descripcion ul li {
      list-style: none;
      padding: 10px 0;
      border-bottom: 1px solid #fff;
    }

    .link a {
      display: inline-block;
      text-decoration: none;
      background-color: #cf0e0e;
      color: #fff;
      margin: 40px 0;
      padding: 10px 40px;
      border-radius: 50px;
      font-size: 15px;
      text-transform: uppercase;
      cursor: pointer;

      &:hover {
        background-color: #fff;
        color: #cf0e0e;
      }
    }
  }
}

p{
  text-align: left;
  color: #000;
  margin: 20px 0px 0px 50px;
  font-weight: bold;
}
